@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
	
body {
	font: 20px "Montserrat", sans-serif;
	line-height: 1.8;
	color: #f5f6f7;
	cursor: default;
}
	
p {
	font-size: 16px;
}
	
.bg-1 {
	background-color: #1abc9c; /* Green */
	color: #ffffff;
}
	
.bg-3 {
	background-color: #474e5d; /* Dark Blue */
	color: #fff;
}
	
.bg-2 {
	background-image: url("4.png");
	background-position: bottom;
	background-color: #fff; /* White */
	color: #000;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
	
.bg-2:hover {
	opacity: 0.8;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
	
.bg-4 {
	background-color: #2f2f2f;
	color: #ffffff;
}

.bg-5 {
	background-color: #fff;
	color: #000;
}

.text-title {
	font-size: 45px;
}

.my-img {
	width: 315px;
	height: 290px;
	border-radius: 50%;
}

.comment-section {
	height: 200px;
}
 
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
	
/* Style for FontAwesome Icon */
.fa {
	padding: 20px;
	font-size: 30px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}
	
.fa:hover {
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

/* Set a specific color for each brand */

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	color: #000;
}

/* Style the label to display next to the inputs */
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

/* Style the submit button */
input[type=submit] {
	background-color: #4CAF50;
	color: #FFF;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-right: 10px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

/* Style the container */
.container {
	padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Progress Bar */

.progress-container {
	margin: auto;
	padding: 20px;
	width: 50%;
}

/* About myself container */

.story-container {
	margin: auto;
	padding: 20px;
	width: 50%;
	text-align: justify;
}

/* Style the search field */
form.search-box input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search-box button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search-box button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.search-box::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout for mobile phones */
@media screen and (max-width: 600px) {
.col-25, .col-75, .progress-container, .story-container, input[type=submit] {
	width: 100%;
	margin-top: 5%;
  }
}

/* Responsive layout for tablet */
@media screen and (max-width: 768px) {
.col-25, .col-75, .progress-container, .story-container, input[type=submit] {
	width: 100%;
	margin-top: 5%;
  }
}

/* Responsive layout for iPad Pro */
@media screen and (max-width: 1024px) {
.col-25, .col-75, .progress-container, .story-container, input[type=submit] {
	width: 100%;
	margin-top: 5%;
  }
}